<div ng-show="beats.length">
  <h2>You got mad beats, yo. Click on 'em to assign a reporter:</h2>
    <ul>
      <li ng-repeat="item in beats">
        <a ui-sref='beats.reporters({ beatsId: item.id})'>{{item.name}}</a>
      </li>
    </ul>
</div>

<div ui-view></div>

<div ng-show="!(beats.length)">
  <h3>Drop a sick beat to get this reportin' started up in har, up in har.</h3>
</div>

<div class="col-xs-12">
  <h3>Drop a sick beat:</h3>
  <form ng-submit="BeatsFactory.addBeat()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="BeatsFactory.beatName" placeholder="Nizzame this bizzeat">
    </div>
    <button type="submit" class-"btn-btn primary">Drop it like it hot!</button>
  </form>
</div>
